@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --cyan-color: #66E2DC;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans";
  background-color: #FCFAF9;
  background-image: url(assets/bg-main-desktop.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  max-width: 100%;
}



.wrapper {
  width: 90%;
  max-width: 1120px;
  margin: 0 auto;

}

nav {
  margin-top: 64px;
}

ul li {
  list-style-type: none;
}

.header-container {
  display: flex;
  position: relative;
}

.header-content {
  margin-top: 128px;
}

.header-img {
  margin-top: -105px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: auto;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 88px;
  line-height: 100%;
  color: #191826;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #191826;
}

.premium-bg {
  width: 100%;
  max-width: 1120px;
  height: 600px;
  background-color: #191826;
  padding: 10px;
  text-align: center;
  margin-block: 200px;
  background-image: url(assets/bg-pattern-2.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
}


.phone-form-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.phone img {
  width: 312px;
}

.phone {
  position: absolute;
  margin-top: -1190px;
  margin-left: 130px;

}




/* SIGIN UP FORM */
.signup-form {
  background: #FA7453;
  padding: 56px;
  max-width: 512px;
  border-radius: 16px;
  max-height: 632px;
  position: absolute;
  margin-top: -800px;
  margin-left: 561px;
  width: 100%;
}

h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
}

.eq-description {
  margin-block: 24px 40px;
}

.four {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
}

.span {
  margin-block: 20px;
}

button {
  border: none;
  width: 400px;
}

.ios-download {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: #191826;
  color: white;
  padding: 16px 125px;
  border-radius: 12px;
  margin-bottom: 16px;
}

.text {
  font-weight: 700;
  font-size: 18px;
  line-height: 180%;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 48px;
}

.price {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
}

.andriod-download {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
  color: #191826;
  padding: 16px 105px;
  border-radius: 12px;
}

.price {
  font-weight: 700;
  font-size: 64px;
  line-height: 110%;
}

/* MEDIA QUERIES */
@media screen and(max-width: 1100PX) {
  body {
    margin: 0;
    font-family: "IBM Plex Sans";
    background-color: #FCFAF9;
    background-image: url(assets/bg-main-tablet.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 500px) {

  body {
    background-image: url(assets/bg-main-mobile.png);
  }

  .header-img {
    display: none;
  }

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #191826;
    margin-bottom: 40px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }
}